@tailwind base;
@tailwind components;
@tailwind utilities;

@import './design-tokens.css';

@layer base {
  :root {
    --background: 5 5 5;
    --foreground: 237 237 237;

    --border: 38 38 38;
    --input: 38 38 38;
    --ring: 140 140 140;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-purple-500/30 text-white;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white/20 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/30;
  }
}